<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Title</title>
</head>
<body>
                    <h1>  beleza </h1>
    <form action = "{% url 'ver_produto' %} " method="POST">
                  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Title</title>
</head>
<body>

</body>
</html>
        <input type ="text " name ="nome" placeholder = "informe nome" >
    <br>
        <input type ="text " name ="idade" placeholder = "informe idade" >
    <br>
        <input type ="text " name ="sexo" placeholder = "informe sexo" >
    <br>
        <input type = "submit" value = "enviar">

    </form>
</body>
</html>